{% extends 'main.html' %}
{%block pageTitle %}
dbCloud &nbsp;|&nbsp; Home
{%endblock%}
{% block sidePanel %}

{% endblock %}
{% block pageBody%}
<div class = "col-md-10 col-sm-10" id = "rightPanel">
	<div id = "formDiv" class = "col-md-12 col-sm-12">
		<h4><strong>Add New MP3 File</strong></h4>
		<form class = "form-horizontal col-md-12 col-sm-12" method = "POST" action ="/app/uploadFile/" enctype= "multipart/form-data">
			{%csrf_token%}
			<div class ="form-group">
				<label>Title</label>
				<input	type = "text" name = "fileTitle" class = "form-control" style="width:70%;" required>
			</div>
			<div class = "form-group">
				<label>Description</label>
				<textarea class = "form-control" placeholder = "File Description" name = "fileDescription"  rows = "2" style ="width:70%"></textarea>
			</div>
			<div class = "form-group">
				<label>MP3 File</label>
				<input type = "file" name = "mp3File" accept = ".mp3" required>
			</div>
			<center><button class = "btn btn-success" type = "submit">Upload File</button></center>
			
		</form>
	</div>
	<div id = "listFiles" class = "col-sm-12 col-md-12">
	<h4><strong>Your MP3 Files</strong></h4>
		{%for each in fileList %}
			<div class= "panel panel-default">
				<div class = "panel-heading">
					{{each.fileTitle}}
				</div>
				<div class = "panel-body">
					<div class = "col-md-6 col-sm-6">
						<p>{{each.fileDescription}}</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<audio controls>
							<source src ="{{each.audioFile.url}}" type="audio/mpeg">	
						</audio>
					</div>
				</div>

			</div>
		{%endfor%}
	</div>
</div>

{% endblock %}
{% block customStyles %}
{% endblock %}
{%block customScripts%}
{%endblock%}