{% extends 'main.html' %}
{%block pageTitle %}
dbCloud &nbsp;|&nbsp; Home
{%endblock%}
{% block sidePanel %}
Paul
{% endblock %}
{% block pageBody%}
<div class = "col-md-10 col-sm-10" id = "formDiv">

	<form class = "form-horizontal" method = "POST" action ="/app/uploadFile/" enctype= "multipart/form-data">
		{%csrf_token%}
		<div class = "form-group">
			<label>Description</label>
			<textarea class = "form-control" placeholder = "File Description" name = "fileDescription"  rows = "2" style ="width:50%"></textarea>
		</div>
		<div class = "form-group">
			<label>MP3 File</label>
			<input type = "file" name = "mp3File" accept = ".mp3">
		</div>
		<center><button class = "btn btn-success" type = "submit">Upload File</button></center>
		
	</form>
</div>
<div class = "listFiles">
	
</div>
{% endblock %}
{% block customStyles %}
{% endblock %}
{%block customScripts%}
{%endblock%}